/* body{
    background-color: blue;
} */
.videos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 3%;
}
.videos p{
    text-decoration: none;
    color: #eee9e9;

}

.videos img{
    width: 400px;
    height: 245px;
}
.Laura{
    margin-top: 10%;
    border-radius: 50%;
}
Link button{
    padding: 8px 16px;
    margin-right:50% ;
}
.allvideos{
    background-color: rgb(146, 150, 173);
}